data/raw/*
data/interim/*
data/processed/*
outputs/oof/*
outputs/test_preds/*
outputs/reports/*
outputs/features/*

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!outputs/oof/.gitkeep
!outputs/test_preds/.gitkeep
!outputs/reports/.gitkeep
!outputs/features/.gitkeep
